name: tests

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - '*'

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.24

      - name: Checkout repository.
        uses: actions/checkout@v2

      - name: Install Task
        uses: arduino/setup-task@v1
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Prepare test.
        run: task init

      - name: Start test.
        run: task test
